<div class="container-fluid">

      <h2> Goats List </h2>

      <table class="table table-hover">
        <thead>
          <tr>
           <th> Name </th>
           <th> Color</th>
           <th> Sex </th>
           <th> Price </th>
           <th> Picture URL </th>
          </tr>
        </thead>
        <tbody>

              <tr>
              {{#each goats}} 
              {{#unless this.goat_sold}}

                  <td>{{this.goat_name}}</td>
                  <td>{{goat_color}}</td>
                  <td>{{goat_sex}}</td>
                  <td>{{goat_price}}</td>
                  <td><img src = {{picture_url}} width="100px" height ="100px"></td>
                  <td>
                  <form action="/goatsCat/submit/{{id}}" method="post">
                      <input type="hidden" name="{{id}}" id="id">
                      <button type="submit" name={{id}} id={{id}}>Buy Now</button>
                  </form>
                  </td>


                {{/unless}}
                {{/each}}

                </tr>

        </tbody>
    </table>