


    <div class="container-fluid">
      <h2> Goats List </h2>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

          <form action="/goats" method="post">
            <div class="form-group">
              <label for="goat_name">Goat Name</label>
              <input type="text" class="form-control" name="goat_name" placeholder="Otto von Bismarck">
              <p class="help-block">What is the name of your majestic beast?</p>
            </div>

            <div class="form-group">
              <label for="goat_color">Goat Color</label>
              <select class="form-control" id="goat_color" name="goat_color" title="Choose one of the following...">
                <option data-hidden="true">Choose one</option>
                <option value="black">Black</option>
                <option value="white">White</option>
                <option value="brown">Brown</option>
                <option value="gray">Gray</option>
                <option value="multi-color">Multi-Color</option>
              </select>
              <p class="help-block">What color is this fine animal?</p>
            </div>
            <div class="form-group">
              <label for="goat_sex">Sex of Goat</label>
              <select class="form-control" id="goat_sex" name="goat_sex">
                <option value="m">Male</option>
                <option value="f">Female</option>
              </select>
              <p class="help-block">What sex is your goat?</p>
            </div>

            <div class="form-group">
              <label class="sr-only" for="goat_price">Amount (in dollars)</label>
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" id="goat_price" placeholder="Amount">
              </div>
              <p class="help-block">How much for your goat?</p>
              <label class="sr-only" for="userId">UserId (in dollars)</label>
            </div>

            <div class = "form-group">
                <label for="picture_url">Picture URL</label>
                <input type="text" class="form-control" name="picture_url" placeholder="fsdkfjlaskjdkflas">
                <p class="help-block">Link of a picture of your Photogenic Goat </p>
            </div>

              <button class="btn btn-success btn-xs" type="submit">Submit Goat</button>
            </div>
          </form>


        </div>
        <div class="col-md-2"></div>
      </div>
    </div> 

      <h2> Goats List </h2>
      <table class="table table-hover">
        <thead>
            <tr>
               <th> Name </th>
               <th> Color</th>
               <th> Sex </th>
               <th> Price </th>
               <th> Picture URL </th>
            </tr>
        </thead>
        <tbody>
            {{#each goat}} 
            <tr>
                <td>{{this.goat_name}}</td>
                <td>{{goat_color}}</td>
                <td>{{goat_sex}}</td>
                <td>{{goat_price}}</td>
                <td>{{picture_url}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>