<div class="container">
	<div class="row">
		<div class="jumbotron welcomegoat">
			<h1>Welcome to Trader Goat's</h1>
			<p>Trader Goat's is the world best place to find your furry, shrub-eating friend/lawnmower!</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center"> <h1 class="newMem">NEW MEMBERS GET 50% MORE GOAT!</h1>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="jumbotron goatDay">
			<div class="row">
				<h2> Goat of the Day </h2>
				<div class="col md-6">
					<h3>{{goats.goat_name}}</h3>

						<ul>
							<li>Gender : {{goats.goat_sex}}</li>
							<li><label value = {{goats.goat_sex}} id ="gender"></label></li>
							<li>Color  : {{goats.goat_color}} </li>
							<li>Price  : $ {{goats.goat_price}} </li>
						</ul>
				</div>
				<div class="col md-6">
					<img class="goatDayborder" src="public/assets/img-temp/400x400/img1.png" width="300px" height ="300px">
					<img src = {{goats.picture_url}} width="300px" height ="300px">
				</div>
		</div>
	</div>
</div>

    <!--  ----------------Java Script---------------- -->

    <!-- <script type="text/javascript" src="/assets/js/landing.js"></script> -->
