	<h2> Goat of the Day </h2>

	<h3>{{goats.goat_name}}</h3>

	<img src = {{goats.picture_url}} width="300px" height ="300px">
	<ul>

	<li>Gender : {{goats.goat_sex}}</li>
	<li><label value = {{goats.goat_sex}} id ="gender"></label></li>

    <li>Color  : {{goats.goat_color}} </li>
    <li>Price  : $ {{goats.goat_price}} </li>
    </ul>

    <!--  ----------------Java Script---------------- -->

    <!-- <script type="text/javascript" src="/assets/js/landing.js"></script> -->
